<button routerLink="">Home</button><br/>
<button routerLink="first">First</button><br/>
<button routerLink="second">Second</button><br/>
<button [routerLink]="['firstmodule/One',1]">FirstModule One</button><br/>
<button [routerLink]="['firstmodule/One',500]">FirstModule One=>Param</button><br/>
<button routerLink="firstmodule/Two" [queryParams]="{id:2}">FirstModule Two</button><br/>

<router-outlet></router-outlet>
